#content-container {
    width: 100%;
    margin-top: 20px;
    min-height: calc(100vh - 170px);
}

.content-container-win {
    background: url(../public/assets/winner.png) no-repeat center / cover;
    background-size: 110%;
}