@media (min-width: 1px) and (max-width: 399.98px) {

    #content-container {
        margin-top: 0px;
        min-height: calc(100vh - 45px);
    }

    .content-container-win {
        background-size: 190%;
    }

}

@media (min-width: 400px) and (max-width: 699.98px) {

    #content-container {
        margin-top: 10px;
        min-height: calc(100vh - 70px);
    }

    .content-container-win {
        background-size: 180%;
    }

}

@media (min-width: 700px) and (max-width: 1279.98px) {

    #content-container {
        margin-top: 10px;
        min-height: calc(100vh - 100px);
    }

    .content-container-win {
        background-size: 180%;
    }

}

@media (min-width: 1280px) and (max-width: 1599.98px) {

    #content-container {
        margin-top: 10px;
        min-height: calc(100vh - 110px);
    }

}

@media (max-width: 959.98px) and (orientation: landscape) and (pointer:coarse) {

    #content-container {
        margin-top: 0px;
        min-height: calc(100vh - 35px);
    }

}