@media (min-width: 1px) and (max-width: 399.98px) {
    
    #header-banner {
       height: 45px;
       justify-content: flex-start;
    }

    #header-title {
       font-size: 13px;
       margin-left: 3%;
    }

}

@media (min-width: 400px) and (max-width: 699.98px) {
    
    #header-banner {
       height: 60px;
       justify-content: flex-start;
    }

    #header-title {
       font-size: 20px;
       margin-left: 3%;
    }

}

@media (min-width: 700px) and (max-width: 1279.98px) {
    
    #header-banner {
       height: 90px;
       justify-content: flex-start;
    }

    #header-title {
       font-size: 30px;
       margin-left: 3%;
    }

}

@media (min-width: 1280px) and (max-width: 1599.98px) {
    
    #header-banner {
       height: 100px;
    }

    #header-title {
       font-size: 35px;
    }

}


@media (max-width: 959.98px) and (orientation: landscape) and (pointer:coarse) {

    #header-banner {
       height: 35px;
    }

    #header-title {
        font-size: 18px;
    }

}