#options-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 50px;
    width: 90%;
    margin: 0 auto;
}

#new-game-button {
    height: 45px;
    width: 150px;
    margin-right: 20px;
    font-family: PressStart;
    font-size: 12px;
    border: 2px solid black;
    background: url('../public/assets/header-8bit.jpg') no-repeat center / cover;
    color: white;
}

#new-game-button:hover {
    scale: 1.05;
}

#new-game-button:active {
    scale: 0.95;
}
