@media (min-width: 1px) and (max-width: 299.98px) {

    .single-card-container {
        width: 60px;
        height: 60px;
        margin: 2px 5px;
    }

    .memory-image {
        border: 2px solid #00ff62;
    }

}

@media (min-width: 300px) and (max-width: 389.98px) {

    .single-card-container {
        width: 63px;
        height: 63px;
        margin: 2px 5px;
    }

    .memory-image {
        border: 2px solid #00ff62;
    }

}

@media (min-width: 390px) and (max-width: 659.98px) {

    .single-card-container {
        width: 80px;
        height: 80px;
        margin: 2px 5px;
    }

}

@media (min-width: 660px) and (max-width: 799.98px) {

    .single-card-container {
        width: 90px;
        height: 90px;
        margin: 2px 5px;
    }

}

@media (min-width: 800px) and (max-width: 959.98px) {

    .single-card-container {
        width: 100px;
        height: 100px;
        margin: 3px 5px;
    }

}

@media (min-width: 960px) and (max-width: 1499.98px) {

    .single-card-container {
        width: 105px;
        height: 105px;
        margin: 3px 5px;
    }

}

@media (min-width: 1500px) and (max-width: 1599.98px) {

    .single-card-container {
        width: 135px;
        height: 135px;
        margin: 3px 5px;
    }

}

@media (min-width: 1600px) and (max-width: 1899.98px) {

    .single-card-container {
        width: 140px;
        height: 140px;
        margin: 4px 6px;
    }

}